@import "tailwindcss";

:root {
  --alabaster: #ECEDE8;
  --timber: #d2d4c8;
  --ash-grey: #b8bdb5;
  --cadet-grey: #889696;
  --hook-green: #5F7470;
  --forest-green: #536562;

}


body {
  background: var(--alabaster);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

